body{
    background-color: #222222;
    color: #ffffff;
}
header{
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container{
    display: flex;
    align-items: center;
    gap: 30px;
}