body {
    background-color: #222222;
    color: #ffffff;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

header {
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0 20px;
}

.button-member{
    border: solid 2px #6a988b;
    background-color: #000000;
    color: #6a988b;
    border-radius: 15px;
    padding:5px 10px;
    font-size: large;
}

.hamburger{
    width: 40px;
    height: 40px;
    border: solid 2px #6a988b;
    background-color: #6a988b;
    color: #ffffff;
    border-radius: 30px;
    padding:5px 10px;
    font-size: large;
}

.main-container{
    max-width: 600px;
    margin: auto;
    padding-top: 30px;
}
.content-container{
    background-color: #000000;
    border: solid 1px #7a7a7a;
    margin: 20px 0px;
    padding: 20px;
}