body {
    background-color: #222222;
    color: #ffffff;
    margin: 0;
}

header {
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0 20px;
}

.button-member{
    border: solid 2px #6a988b;
    background-color: #000000;
    color: #6a988b;
    border-radius: 15px;
    padding:5px 10px;
    font-size: large;
}

main{
    max-width: 600px;
    background-color: #000000;
    margin: auto;
}